.table {
  border-collapse: collapse;
  width: 500px;
}

.table th,
.table td {
  border: 1px solid #222222;
  padding: 8px;
  text-align: center;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: whitesmoke;
  background-color: #282828;
}

.table tr:nth-child(even) {
  background-color: #bbbbbb;
}

.type {
  text-transform: capitalize;
}
